################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TriangleProblem/FileContentIndex
/.vs/TriangleProblem/v17/TestStore/0/000.testlog
